@inherits MainLayoutComponent
@using Radzen
@using Radzen.Blazor
@using Microsoft.AspNetCore.Identity;
@using Cabinet.Pages
@inject Microsoft.Extensions.Localization.IStringLocalizer<BasePage> L

<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<AuthorizeView Context="AuthorizationContext">
    <NotAuthorized>
        <RedirectToLogin IsAuthenticated="@AuthorizationContext.User.Identity.IsAuthenticated"/>
    </NotAuthorized>
    <Authorized>
        <RadzenLayout>
            <ChildContent>
                <RadzenHeader>
                    <ChildContent>
                        <div class="row">
                            <div class="col-12 d-flex align-items-center">
                                <RadzenSidebarToggle Click="@SidebarToggle0Click" Visible="@Security.IsInRole(new string[]{"ADMIN"})" Style="border:none;">
                                </RadzenSidebarToggle>
                                <h3>Click Sante</h3>
                                <div style="flex-grow: 1"></div>
                                <div class="d-flex align-items-center" style="position: relative">
                                    
                                        <div style="width: 25px; height: 25px; border-radius: 100%; background-image: url(@(Security.User.Photo)); background-size: cover; background-size: 25px;">
                                        </div>
                                    
                                    <div class="rounded-circle" style="background-color: @(AuthorizationContext.User.Identity.IsAuthenticated == true ? "var(--success)" : "var(--danger)"); height: 10px; width: 10px; position: absolute; top: -2px; right: -2px;"></div>
                                </div>
                                <RadzenMenu class="mr-4" Responsive="false">
                                    <RadzenMenuItem Text="@(Security?.User?.FullName )">
                                        <RadzenMenuItem Text="@L["Déconnexion"]" Icon="power_settings_new" Click="@((args) =>logout())" Style="min-width: 150px"></RadzenMenuItem>
                                    </RadzenMenuItem>
                                </RadzenMenu>

                            </div>
                        </div>
                    </ChildContent>
                </RadzenHeader>
                <RadzenBody @ref="body0">
                    <ChildContent>
                        <RadzenContentContainer Name="main">

                            @Body
                        </RadzenContentContainer>
                    </ChildContent>
                </RadzenBody>
                <RadzenSidebar @ref="sidebar0" Visible="true" Style="background-color:#f96332">
                    <ChildContent>
                        <RadzenPanelMenu style="height: 100%; background:#f96332;">
                            <ChildContent >

                                <RadzenPanelMenuItem Text="@L["tableau de bord"]" Path="dashboard" Visible="true"></RadzenPanelMenuItem>
                                <RadzenPanelMenuItem Text="@L["Consulter les Rendez Vous"]" Path="SeeAppo" Visible="@Security.IsInRole(new string[]{"ADMIN","ASSISSTANT","INFIRMIER","DOCTOR"} )"></RadzenPanelMenuItem>
                                <RadzenPanelMenuItem Text="@L["Doctors"]" Path="doctors" Visible="@Security.IsInRole(new string[]{"ADMIN"} )"></RadzenPanelMenuItem>
                                <RadzenPanelMenuItem Text="@L["Infirmièrs"]" Path="infirmiers" Visible="@( Security.IsInRole(new string[]{"ADMIN","DOCTOR"} ))"></RadzenPanelMenuItem>
                                <RadzenPanelMenuItem Text="@L["Roles"]" Path="roles" Visible="@(false && Security.IsInRole(new string[]{"ADMIN","DOCTOR"} ))"></RadzenPanelMenuItem>
                                <RadzenPanelMenuItem Text="@L["Assistants"]" Path="Assisstants" Visible="@Security.IsInRole(new string[]{"ADMIN","INFIRMIER","DOCTOR"} )"></RadzenPanelMenuItem>
                                <RadzenPanelMenuItem Text="@L["Utilisateurs"]" Path="Utilisateurs" Visible="@Security.IsInRole(new string[]{"ADMIN"} )"></RadzenPanelMenuItem>
                                <RadzenPanelMenuItem Text="@L["Patients"]" Path="patients" Visible="@Security.IsInRole(new string[]{"ADMIN","ASSISSTANT","INFIRMIER","DOCTOR"} )"></RadzenPanelMenuItem>
                                <RadzenPanelMenuItem Text="@L["Les Rendez Vous"]" Path="appointement" Visible="@Security.IsInRole(new string[]{"ADMIN","ASSISSTANT","INFIRMIER","DOCTOR"} )"></RadzenPanelMenuItem>

                                
                            </ChildContent>
                        </RadzenPanelMenu>
                    </ChildContent>
                </RadzenSidebar>
                <RadzenFooter>
                    <ChildContent>

                        <RadzenLabel Text="@L[""]">

                        </RadzenLabel>   &nbsp  &nbsp  <NavLink href="/">@L["Sante click"]</NavLink>

                    </ChildContent>
                </RadzenFooter>
            </ChildContent>
        </RadzenLayout>

    </Authorized>
</AuthorizeView>



