@page "/Addpatient"
@using Cabinet.Pages.Patients;
@inherits AddPatientComponent
@using Radzen
@inject Microsoft.Extensions.Localization.IStringLocalizer<BasePage> L

<RadzenContent Container="main">
    <ChildContent>
        <div class="row">
            <div class="col-md-12">
                <RadzenTemplateForm Data="@patient" Visible="@(patient != null)" TItem="Models.Patient" Submit="@Submit">
                    <ChildContent>
                        <div style="margin-bottom : 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="@L["Photo"]">

                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenFileInput @bind-Value=@patient.Photo  TValue="string" class="w-100" 
                                    Change=@(args => OnChange(args, "FileInput")) Error=@(args => OnError(args, "FileInput")) FileSize="@fileSize" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "select file" }})"/>
                                <RadzenLabel Visible="@(!string.IsNullOrWhiteSpace(ErrorMsg))" class="text-danger">@ErrorMsg</RadzenLabel>
                            </div>
                            <small class="text-danger">@ErrorMsg</small>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="@L["CIN : "]" Component="nom" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox MaxLength="255" style="display: block; width: 100%" @bind-Value="@(patient.CIN)" Name="Nom">
                                </RadzenTextBox>
                                <RadzenRequiredValidator Component="Nom" Text="@L["Le cin est requis"]" style="position: absolute">
                                </RadzenRequiredValidator>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="@L["Nom"]" Component="nom" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox MaxLength="255" style="display: block; width: 100%" @bind-Value="@(patient.FullName)" Name="Nom">
                                </RadzenTextBox>
                                <RadzenRequiredValidator Component="Nom" Text="@L["Le nom est requis"]" style="position: absolute">
                                </RadzenRequiredValidator>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="@L["Numero de téléphone"]" Component="phone" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox MaxLength="255" style="display: block; width: 100%" @bind-Value="@(patient.PhoneNumber)" Name="phone">
                                </RadzenTextBox>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col offset-sm-3">
                                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" class="px-5 py-1" Text="@L["Submit"]" ButtonStyle="ButtonStyle.Primary">
                                </RadzenButton>
                                <RadzenButton ButtonStyle="ButtonStyle.Light" class="py-1 px-5" style="margin-left: 1rem" Text="@L["Annuler"]" Click="@(()=>DialogService.Close())">
                                </RadzenButton>
                            </div>
                        </div>
                    </ChildContent>
                </RadzenTemplateForm>
            </div>
        </div>
    </ChildContent>

</RadzenContent>
