@page "/Addapointement"
@inherits AddAppointementComponent
@using Radzen
@inject Microsoft.Extensions.Localization.IStringLocalizer<BasePage> L
@attribute [Authorize(Roles = "ADMIN,DOCTOR,ASSISSTANT,INFIRMIER")]
<RadzenContent Container="main">
    <ChildContent>
        <div class="row">
            <div class="col-md-12">
                <RadzenTemplateForm Data="@appointment" Visible="@(appointment != null)" TItem="Models.Appointment" Submit="@Submit">
                    <ChildContent>
                        @* <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="@L["Nom de doctor"]" Component="nom" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenDropDown Data="@doctors" TextProperty="FullName" ValueProperty="Id" Placeholder="@L["Choisir un médcine"]" ShowSearch="false" style="display: block; width: 100%" @bind-Value="@(appointment.DoctorId)" Name="DoctorId">
                                </RadzenDropDown>
                                <RadzenRequiredValidator Component="DoctorId" Text="@L["Choisir un médcine"]" style="position: absolute" DefaultValue="0">
                                </RadzenRequiredValidator>
                            </div>
                        </div> *@
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="@L["Patient"]" Component="nom" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenDropDown Data="@patients" TextProperty="FullName" ValueProperty="Id" Placeholder="@L["Choisir un patient"]" ShowSearch="false" style="display: block; width: 100%" @bind-Value="@(appointment.PatientId)" Name="PatientId">
                                </RadzenDropDown>
                                <RadzenRequiredValidator Component="PatientId" Text="@L["Patient est requise"]" style="position: absolute">
                                </RadzenRequiredValidator>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="@L["Date de rendez vous"]" Component="phone" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenDatePicker @bind-Value=@appointment.DateAppointement Min="DateTime.Now" ShowTime="true" DateFormat="MM/dd/yyyy HH:mm" HourFormat="24" Name="RadzenDatePickerBindValue" AllowClear="true" AllowInput="true" />
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="@L["Visite"]" Component="Visite" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox MaxLength="255" style="display: block; width: 100%" @bind-Value="@(appointment.Visit)" Name="Visite">
                                </RadzenTextBox>
                                <RadzenRequiredValidator Component="Visite" Text="@L["Le type de visite est requis"]" style="position: absolute">
                                </RadzenRequiredValidator>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col offset-sm-3">
                                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" class="px-5 py-1" Text="@L["Submit"]" ButtonStyle="ButtonStyle.Primary">
                                </RadzenButton>
                                <RadzenButton ButtonStyle="ButtonStyle.Light" class="py-1 px-5" style="margin-left: 1rem" Text="@L["Annuler"]" Click="@(()=>DialogService.Close())">
                                </RadzenButton>
                            </div>
                        </div>
                    </ChildContent>
                </RadzenTemplateForm>
            </div>
        </div>
    </ChildContent>
</RadzenContent>

