@page "/Assisstants"

@layout MainLayout
@inherits AssisstantComponent
@using Radzen
@inject Microsoft.Extensions.Localization.IStringLocalizer<BasePage> L
<PageTitle>Doctors</PageTitle>
@attribute [Authorize(Roles = "ADMIN,DOCTOR,INFIRMIER")]
<RadzenContent Container="main">
    <ChildContent>
        <RadzenHeading Size="H1" Text="@L["Doctors"]">
        </RadzenHeading>
        <div class="row">
            <div class="col-md-12">
                <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px; float:right;" Text="@L["Ajouter"]" Click="@Ajouter">
                </RadzenButton>
            </div>
            <div class="col-md-12">
                <RadzenDataGrid @ref="@grid0" EmptyText="Aucune donnée." FilterMode="Radzen.FilterMode.Simple" AllowPaging="true" AllowFiltering="true" AllowSorting="true" Data="@assisstants" TItem="Cabinet.Models.Assisstant">
                    <Columns>
                        <RadzenDataGridColumn TItem="Cabinet.Models.Assisstant" Property="FullName" Title="@L["Nom"]">
                            <Template Context="DocContext">
                                <img src="@DocContext.Photo" width="60" style="border-radius:50%" />
                                <span>@DocContext.FullName</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Cabinet.Models.Assisstant" Property="UserName" Title="@L["Idenifiant"]">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Cabinet.Models.Assisstant" Property="PhoneNumber" Title="@L["PhoneNumber"]">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Cabinet.Models.Assisstant" Filterable="false" Sortable="false" Width="120px" TextAlign="TextAlign.Center">
                            <Template Context="modCoModelsModCoDataType">
                                <RadzenButton ButtonStyle="Radzen.ButtonStyle.Primary" Icon="edit" Size="ButtonSize.Medium" Click="@((args) =>Edit(modCoModelsModCoDataType))" @onclick:stopPropagation="true">
                                </RadzenButton>
                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium" Click="@((args) =>Delete(args, modCoModelsModCoDataType))" @onclick:stopPropagation="true">
                                </RadzenButton>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </div>
        </div>
    </ChildContent>
</RadzenContent>